<html>
<head>
    <meta charset="utf-8" />
    <title>Upload your Website for Free Now!!</title>
    <script>
        $(document).ready(function() {
                    var options = {
                            beforeSubmit: showRequest,
                         }
    </script>
</head>
<body>
<center>
    <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
<br>
        <input type="file" name="htmlUploader" multiple />
<br><br><br><br><br><br><br><br>
        <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form>
</center>
</body>
</html>