<html>
<head>
    <meta charset="utf-8" />
    <title>Upload your Website for Free Now!!</title>
    <script>
        $(document).ready(function() {
                    var options = {
                            beforeSubmit: showRequest,
                         }
    </script>
<style>
  body {background-color: rgba(216, 137, 137, 0.678);}
</style>
</head>
<body>
<center><h1>Welcome To our Free Web-Page Hosting</h1></center>
<br>
<center><h2>We allow one HTML page with CS & JS files.</h2></center>
<center><h3>Your Link will point to the HTML page.</h3></center>
<center><h3>Browse and selsect Files below.</h3></center>
<center>
    <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
<br>
        <input type="file" name="htmlUploader" multiple />
<br><br><br><br><br><br><br><br>
        <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form>
</center>
</body>
</html>